*.class

# Eclipse Files #
*.project
*.classpath

# Package Files #
*.jar
*.war
*.ear
/GobiBlatt3/nbproject/private/
/GobiBlatt3/build/
/Gotoh/nbproject/private/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/Gotoh/build/
/Gotoh/dist/
/GobiBlatt3/dist/
/TestApplication/nbproject/private/
/TestApplication/build/
/TestApplication/dist/
/BLASTSearch/nbproject/private/
/BLASTSearch/dist/
/BLASTSearch/build/
/BLASTSearch/manifest.mf
/BLASTSearch/nbproject/project.properties
/BLASTSearch/nbproject/project.xml
/BLASTSearch/nbproject/genfiles.properties
/BLASTSearch/build.xml
/BLASTSearch/nbproject/build-impl.xml
/BLASTSearch/res/outputfile.txt
/BLASTSearch/res/sequence.fa
/BLASTSearch/res/blosum62.txt
/Kabsch/nbproject/private/
